*{
    background-color: black;
    color: white;
}
.btns{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}
button{
    filter: drop-shadow(3px 3px 1px blue);
    padding: 10px;
    border-radius: 20px;
}